[submodule "tinyspline"] 
	path = tinyspline
	url = https://github.com/msteinbeck/tinyspline.git
[submodule "SQLiteCpp"]
	path = SQLiteCpp
	url = https://github.com/nidefawl/SQLiteCpp.git
	shallow = true
[submodule "portaudio"]
	path = portaudio
	url = https://github.com/nidefawl/portaudio
	shallow = true
[submodule "portmidi"]
	path = portmidi
	url = https://github.com/nidefawl/portmidi
	shallow = true
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm.git
	shallow = true
[submodule "pybind11"]
	path = pybind11
	url = https://github.com/pybind/pybind11.git
	shallow = true
[submodule "kissfft"]
	path = kissfft
	url = https://github.com/nidefawl/kissfft.git
	shallow = true
[submodule "cereal"]
	path = cereal
	url = https://github.com/nidefawl/cereal.git
	shallow = true
[submodule "soxr"]
	path = soxr
	url = https://github.com/ShiftMediaProject/soxr
	shallow = true
[submodule "glfw"]
	path = glfw
	url = https://github.com/nidefawl/glfw
	shallow = true
[submodule "google-benchmark"]
	path = google-benchmark
	url = https://github.com/google/benchmark.git
	shallow = true
[submodule "slowstacktrace"]
	path = slowstacktrace
	url = https://github.com/nidefawl/slowstacktrace.git
[submodule "muparser"]
	path = muparser
	url = https://github.com/nidefawl/muparser.git
[submodule "libarchive"]
	path = libarchive
	url = https://github.com/libarchive/libarchive
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib
[submodule "clap"]
	path = clap
	url = https://github.com/free-audio/clap
[submodule "clap-helpers"]
	path = clap-helpers
	url = https://github.com/free-audio/clap-helpers
[submodule "dr_libs"]
	path = dr_libs
	url = https://github.com/mackron/dr_libs
[submodule "dr_libs/dr_libs"]
	path = dr_libs/dr_libs
	url = https://github.com/mackron/dr_libs
[submodule "signalsmith-stretch"]
	path = signalsmith-stretch
	url = https://github.com/nidefawl/signalsmith-stretch.git
