[submodule "tinyspline"] 
  path = tinyspline 
  url = https://github.com/msteinbeck/tinyspline.git
[submodule "SQLiteCpp"]
	path = SQLiteCpp
	url = https://github.com/nidefawl/SQLiteCpp.git
	shallow = true
[submodule "portaudio"]
	path = portaudio
	url = https://github.com/PortAudio/portaudio.git
	shallow = true
[submodule "portmidi"]
	path = portmidi
	url = https://github.com/nidefawl/portmidi
	shallow = true
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm.git
	shallow = true
[submodule "pybind11"]
	path = pybind11
	url = https://github.com/pybind/pybind11.git
	shallow = true
[submodule "kissfft"]
	path = kissfft
	url = https://github.com/nidefawl/kissfft.git
	shallow = true
[submodule "cereal"]
	path = cereal
	url = https://github.com/nidefawl/cereal.git
	shallow = true
[submodule "soxr"]
	path = soxr
	url = https://github.com/ShiftMediaProject/soxr
	shallow = true
[submodule "glfw"]
	path = glfw
	url = https://github.com/nidefawl/glfw
	shallow = true
[submodule "google-benchmark"]
	path = google-benchmark
	url = https://github.com/google/benchmark.git
	shallow = true
[submodule "slowstacktrace"]
	path = slowstacktrace
	url = git@github.com:nidefawl/slowstacktrace.git
[submodule "muparser"]
	path = muparser
	url = https://github.com/beltoforion/muparser
